
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffb700;
    padding: 30px;
}
.container{
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rbga(0,0,0,0.2);
    perspective: 2700px;
}
.container .cover{
    position: absolute;
    height: 100%;
    width: 50%;
    top:0;
    left:50%;
    /* background: #7d2ae8; */
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}
.container .cover::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background:#ffb700 ;
    opacity: 0.5;
    z-index: 100;
}
.container #flip:checked ~ .cover{
    transform: rotateY(-180deg);
}
.container .cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 12;
    backface-visibility: hidden;
}

.container .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container form{
    height: 100%;
    width: 100%;
    background: #fff;   
}
.form-content .login-form,
.form-content .sigup-form{
    width: calc(100%/2 - 25px);
    /*background: red;*/
}
form .form-content .title{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}
form .form-content .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #ffb700 ;
}
form .sigup-form .title::before{
    width: 20px;

}
form .form-content .input-boxes{
    margin-top: 30px;
}
form .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}
.form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
    border-color:#ffb700;
}
.form-content .input-box i{
    position: absolute;
    color:#ffb700 ;
    font-size: 17px;
}

.form-content .login-form .email-error{
    color: red;
    display: none;
}

.form-content .sigup-form .signup-username{
    display: none;
    color: red;
}
.form-content .sigup-form .signup-email{
    display: none;
    color: red;
}
.form-content .sigup-form .signup-password{
    display: none;
    color: red;
}
.form-content .login-form .complete1,
.form-content .sigup-form .complete2{
    color: red;
    display: none;
}
form .form-content .text{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
form .form-content .text a{
    text-decoration: none;
}
form .form-content .text a:hover{
    text-decoration: underline;
}
form .form-content .button {
    color: #fff;
    margin-top: 40px;
}
form .form-content .button input{
    color: #fff;
    background:#ffb700 ;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
form .form-content .button input:hover{
    background: #e2a60d;
}
form .form-content label{
    color:#e2a60d ;
    cursor: pointer;
}
form .form-content label:hover{
    text-decoration: underline;
}
form .form-content .login-text,
form .form-content .signup-text{
    text-align: center;
    margin-top: 25px;
} 
.container #flip{
    display: none;
}
@media (max-width: 730px){
    .container .cover{
        display: none;
    }
    .form-content .login-form,
    .form-content .sigup-form{
        width: 100%;
    }
    .form-content .sigup-form{
        display: none;
    }
    .container #flip:checked ~ form .sigup-form{
        display: block;
    }
    .container #flip:checked ~ form .login-form{
        display: none;
    }
}